.navbarmobile {
  display: none;
  visibility: hidden;
}
.login_mobile {
  display: none;
  visibility: hidden;
}

@media (width <= 766px) {
  .logonav {
    z-index: 99999;
  }

  .logonavLeft {
    transform: translateX(-140%);
  }

  .iconsvg {
    color: white;
  }

  .navbarmobile {
    visibility: visible;
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--dark-color);
    color: white;
    padding: 0.5rem 1.5rem;
    z-index: 90;
  }

  .navbarmobile {
    display: flex;
    justify-content: center;
  }

  .navbarmobile button {
    position: absolute;
    display: flex;
    left: 1.5rem;
    bottom: 29px;
    z-index: 99999;
    border: none;
    outline: none;
    background: transparent;
  }

  .button {
    transform: translate(90px, 7px);
    z-index: 99999;
    bottom: 0;
  }

  .navbarbg {
    height: 100%;
    width: 82.5vw;
    position: fixed;
    background-color: var(--dark-color);
    top: 0;
    bottom: 0;
    left: 0;
    color: black;
    visibility: hidden;
    transform: translateX(-600px);
    transition: 0.3s ease-out;
  }

  .visible {
    visibility: visible;
    transform: translateX(0px);
  }

  .mobilenav {
    width: 100%;
    margin-top: 5rem;
    display: block;
    position: fixed;
    top: 0;
    transition: left 0.3s, width 0.3s;
    width: 82.5vw;
    height: 100%;
  }

  .mobilenav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .mobilenav li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.055);
    cursor: pointer;
  }

  .mobilenav li:hover {
    background-color: var(--opaque-color);
    color: #fff;
  }

  li:hover .iconsvg {
    color: #fff;
  }

  .mobilenav span {
    font-size: 16px;
  }

  .lidropdown {
    flex-grow: 2;
    background-color: var(--main-color);
    user-select: none;
    pointer-events: none;
  }

  .dropdown-dark {
    background-color: var(--main-color);
  }
  .login_mobile {
    display: block;
    visibility: hidden;
  }
  .header_wrapper-nav {
    height: 78.42px;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    color: white;
  }
  .header_wrapper-nav button {
    border: none;
    background: none;
    display: flex;
  }
  .login_mobile-fullscreen {
    position: fixed;
    z-index: 99999999;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    height: 100vh;
    width: 100vw;
  }
  .login_visible {
    visibility: visible;
    opacity: 1;
  }
  .login_content-container {
    padding: 2rem 1.5rem;
  }
  .login_mobile-form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .login_mobile-form input {
    padding: 0.65rem 1rem;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    width: 100%;
  }

  .login_mobile-form input:focus {
    outline: 1px solid var(--main-color);
  }

  .login_mobile-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--dark-color);
    border: 1px solid transparent;
    color: white;
    border-radius: 4px;
    width: 100%;
    padding: 1rem 2rem;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .login_mobile-form button:hover {
    background-color: transparent;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
  }
  .errormessage {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .error-message-wrapper {
    width: 100%;
    padding: 20px 10px;
    background-color: #ed4337;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
  }
  .password_input {
    width: 100%;
    padding: 0.52rem 1rem;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .password_input:focus-within {
    outline: 1px solid var(--main-color);
  }
  .password_input input {
    padding: 0;
    border: none;
  }
  .password_input input:focus-within {
    outline: none;
  }
  .iconsvgtwo {
    color: var(--main-color);
  }

  .hideshow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form_inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .rememberme {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-top: 1rem;
    font-size: 14px;
  }
  .switchsvg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
  }
  .forgot_password {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 14px;
    color: var(--opaque-color);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
  }
  .orlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    color: var(--opaque-color);
  }
  .socials {
    display: flex;
    justify-content: center;
  }
}
