.accordeon_tab {
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
  }
  .accordeon_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 18px;
    cursor: pointer;
  }
  .accordeon_container {
    overflow: hidden;
    transition: all 0.2s ease-in;
    height: 0px;
  }
  .accordeon_content {
    padding: 0.5rem 1.5rem;
    opacity: 0;
  }
  .open {
    height: 100%;
    overflow: visible;
    transition: .2s ease;
  }
  .overflowshown{
    overflow: visible;
    height: 100%;
    opacity: 1;
    transition: all .3s ease;
  }
  .closed {
    transition: 0.2s ease;
    transform: rotate(0deg);
  }
  .icon {
    transition: 0.2s ease;
    transform: rotate(-180deg);
  }