.city_header {
  min-height: auto;
  position: relative;
}

.header-Img {
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.city_header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.city_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 35vh;
}
.city_title {
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city_title h1 {
  font-size: 80px;
  color: white;

  text-shadow: rgba(0, 0, 0, 0.541) 2px 2px 10px;
}
.city_details {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-bottom: 1rem;
  z-index: 1;
}
.city_details h2 {
  font-weight: 800;
  font-size: 2.5rem;
}
.city_content {
  padding-bottom: 2rem;
}
.city_blackoverlay {
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 50%) 1%,
    transparent 40%
  );
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  min-height: 35vh;
}
.tags small {
  z-index: 9999;
  background-color: white;
  border-radius: 5px;
  padding: 5px 22px;
  color: black;
}
.tags {
  z-index: 9999;
}
.city_content-desc {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.city_content-cards {
  display: flex;
  flex-direction: column;
}
.city_content {
  padding-top: 1rem;
  display: flex;
  justify-content: start;
  gap: 2rem;
}
.city_content-sidebar {
  padding: 1rem;
  width: 25%;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.city_content-cards {
  width: 75%;
}
.city_card {
  background-color: white;
  padding: 1rem;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 5px;
  position: relative;
  margin-bottom: 1rem;
}
.city_card-wrapper {
  display: flex;
  gap: 1rem;
}
.city_card img {
  width: 30%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.city_card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.city_card-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.city_card-title h3 {
  color: var(--dark-color);
}
.city_card-title strong {
  color: var(--dark-color);
}
.city_card-desc {
  height: 70px;
  overflow: hidden;
  text-overflow: clip;
  color: var(--dark-color);
  text-wrap: pretty;
}
.city_card-quality-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.city_card-tag {
  display: flex;
  gap: 1rem;
}
.city_card-tag small {
  padding: 0.2rem 0.5rem;
  background-color: var(--warning-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.city_card-price {
  background-image: linear-gradient(
    30deg,
    var(--dark-color),
    var(--main-color)
  );
  color: white;
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  border-start-start-radius: 200px;
  border-start-end-radius: 0px;
  border-end-start-radius: 0px;
}
.country_name {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-color);
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
}
.category_list-item {
  display: flex;
  gap: 5px;
}
.category_list-item label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  user-select: none;
}
.features_list-item label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  user-select: none;
}
.category h4 {
  margin-bottom: 0.5rem;
}
.features h4 {
  margin-bottom: 0.5rem;
}
.price h4 {
  margin-bottom: 0.5rem;
}

.range-slider {
  max-width: 30em;
  position: relative;
  display: flex;
}
.range-slider .slider {
  appearance: none;
  width: 100%;
  height: 0.4em;
  outline: none;
  border-radius: 2px;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow-elevation-medium);
}

.range-slider .slider::-webkit-slider-thumb {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
.range-slider .slider-thumb {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  background-color: var(--dark-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: var(--shadow-elevation-medium);
  cursor: pointer;
}
.range-slider .slider-thumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  transition: 0.3s;
}
.range-slider:hover .slider-thumb::before {
  background-color: var(--main-color);
}
.range-slider .tooltip {
  position: absolute;
  width: 2.8em;
  height: 2em;
  top: -2em;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-color);
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 3px;
  box-shadow: var(--shadow-elevation-medium),
    inset 0px 1px 2px var(--main-color);
}

.free {
  color: var(--main-color);
  font-weight: 700;
}
.non {
  color: var(--secondary-color);
  font-weight: 700;
}
