.select__container{
    position: relative;
    width: 100%;
    min-height: 1.5em;
    border: 1px solid var(--accent-color);
    display: flex;
    align-items: center;
    gap: .5em;
    padding: calc(var(--padding) * 1.25) 1rem;
    border-radius: 8px;
    outline: none;
}

.select__value{
    flex-grow: 1;
}

.select__clearbtn{
    background: none;
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
    opacity: 0;
    visibility: hidden;
}
.select__clearbtn:focus, .select__clearbtn:hover{
    color: var(--hover);
}

.select__divider{
    background-color: #77777746;
    align-self: stretch;
    width: .05em;
}
.select__caret{
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: #777;
}
.select__options{
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 15em;
    overflow-y: auto;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    background-color: white;
    z-index: 99999;
    box-shadow: var(--perfect-shadow);
}
.select__options.show{
    display: block;
}
.select__option{
    padding: calc(var(--padding) * 1.25) 1rem;
    cursor: pointer;
}
.select__option.highlighted{
    background-color: var(--hover);
    color: white;
}
.select__option.selected{
    background-color: var(--secondary-color);
    color: white;
}


