.country_header {
  min-height: 35vh;
  position: relative;
}
.header-Img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.country_header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.country_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 35vh;
}

.country_title h1 {
  font-size: 80px;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-shadow: rgba(0, 0, 0, 0.541) 2px 2px 10px;
}
.country_details {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-bottom: 1rem;
  z-index: 1;
}
.country_details h2 {
  font-weight: 800;
  font-size: 2.5rem;
}
.country_content {
  min-height: 100%;
  padding-bottom: 2rem;
}
.country_blackoverlay {
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 50%) 1%,
    transparent 40%
  );
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  min-height: 35vh;
}
