.toptours {
  min-height: 80vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.toptours_content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toptours_header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}
.toptours_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  width: 100%;
}
.toptours_card-item {
  flex-basis: 349px;
  min-height: 360px;
}
.toptours_card {
  background-color: var(--dark-color);

  flex: 1;
  height: 360px;
  border-radius: 8px: 8px;
  overflow: hidden;
  color: white;
  position: relative;

  cursor: pointer;
}

.toptours_card:hover img {
  transform: translateY(360px);
}
.toptours_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0px);
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toptours_card_details {
  color: var(--dark-color);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
}
.toptours_details-previous.bg {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toptours_details {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-wrap: balance;
  color: var(--dark-color);
}
.toptours_details h3 {
  font-size: 14px;
  font-weight: 900;
}
.toptours_details span {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.562);
}
.toptours_details strong {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 900;
  color: var(--dark-color);
}
.toptours_tourprice {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1px;
  color: var(--dark-color);
}
.price_tour {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toptours_tourprice h4 {
  font-size: 21px;
  font-weight: 700;
}
.toptours_description {
  position: absolute;
  color: white;
  transform: translateY(-400px);
  padding: 20px;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.opacity {
  opacity: 0.5;
}
.toptours_card:hover .toptours_description {
  transform: translateY(-250px);
  opacity: 1;
}
.toptours_card:hover .toptours_details-previous {
  transform: translateY(100px);
}

.toptours_description h3 {
  font-size: 18px;
  font-weight: 900;
}
.toptours_description_details strong {
  font-size: 42px;
}
.toptours_description_rating {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.rating-tours {
  display: flex;
  align-items: center;
  gap: 15px;
}
.stars {
  height: 25px;
}
@media (width <= 500px) {
  .toptours {
    min-height: auto;
    padding-top: 2rem;
    padding-bottom: 7rem;
  }
  .toptours_details h3 {
    font-size: 14px;
    font-weight: 900;
  }
  .toptours_details span {
    font-size: 16px;
    font-weight: 600;
  }
  .toptours_details strong {
    margin-right: 5px;
    font-weight: 900;
  }
  .toptours_tourprice {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .toptours_tourprice h4 {
    font-size: 24px;
    font-weight: 900;
  }
  .toptours_card-item {
    flex-basis: 360px;
    min-height: 360px;
  }
}
@media (width < 1270px) {
  .toptours_grid {
    justify-content: center;
  }
}
