.navbar {
  position: sticky;
  top: 0;
  background: var(--dark-color);
  backdrop-filter: blur(10px);
  align-items: stretch;
  color: white;
  width: 100%;
  z-index: 100;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  translate: 0 -80px;
}
.navbar.visible {
  translate: 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: auto;
  gap: 2rem;
}
.navbar-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.iconsvg {
  fill: white;
}
.iconsvgCurrency {
  fill: gray;
}
.navbar-links li:hover a {
  background-color: var(--main-color);
}
.navbar-links li.active a {
  background-color: white;
  color: var(--dark-color);
}
.navbar-links li.active .iconsvgmore {
  fill: var(--dark-color);
}
.navbar-links li.active .iconsvg {
  fill: var(--dark-color);
}
.navbar-link {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-weight: 600;
  height: 100%;
}

.iconsvgmore {
  fill: white;
}
.logonav {
  width: 100px;
  fill: white;
  padding: 0.5rem 0;
  transition: all 0.2s ease-in-out;
}

/* language dropdown */

.language-selector {
  position: relative;
}

.dropdown-content-language {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  translate: 0 -10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  color: var(--dark-color);
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  padding: 3rem;
  right: 0;
  box-shadow: var(--shadow-elevation-medium);
  transition: all 0.1s ease-in-out;
  min-width: 18.75rem;
}
.language-visible {
  translate: 0;
  opacity: 1;
  visibility: visible;
}
.dropdown-content-language span {
  font-weight: 500;
  cursor: pointer;
}
.dropdown-content-language span:hover {
  color: var(--main-color);
}
.language-selector a {
  display: flex;
  align-items: center;
  justify-content: start;
}
/* Currency dropdown */
.currency-selector {
  position: relative;
}
.dropdown-content-currency {
  position: absolute;
  opacity: 0;
  translate: 0 -10px;
  visibility: hidden;
  display: flex;
  gap: 2rem;
  background-color: white;
  color: var(--dark-color);
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  padding: 3rem;
  right: 0;
  box-shadow: var(--shadow-elevation-medium);
  transition-property: opacity;
  transition: 0.2s ease-out;
}
.visible-currency {
  translate: 0;
  opacity: 1;
  visibility: visible;
}
.dropdown-content-currency span {
  font-weight: 800;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dropdown-content-currency span:hover small {
  color: var(--dark-color) 86;
}
.dropdown-content-currency small {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--dark-color);
  display: inline-block;
  width: max-content;
}
.usd,
.euro,
.argpeso {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.usd:hover small {
  opacity: 0.5;
}
.euro:hover small {
  opacity: 0.5;
  cursor: pointer;
}
.argpeso:hover small {
  opacity: 0.5;
  cursor: pointer;
}
/* User Menu dropdown */
.userMenu {
  position: relative;
}
.dropdown-userMenu {
  position: absolute;
  display: flex;
  background-color: white;
  translate: 0 -10px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  min-width: 300px;
  color: var(--dark-color);
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  box-shadow: var(--shadow-elevation-medium);
  transition-property: opacity;
  transition: 0.2s ease-out;
  padding: 2rem;
}
.userMenu-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.userMenu-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.userbuttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

/* Login dropdown */
.login {
  position: relative;
}
.dropdown-login {
  position: absolute;
  display: flex;
  background-color: white;
  translate: 0 -10px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  min-width: 800px;
  color: var(--dark-color);
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  box-shadow: var(--shadow-elevation-medium);
  transition-property: opacity;
  transition: 0.2s ease-out;
}
.visible {
  translate: 0;
  opacity: 1;
  visibility: visible;
}
.login-tab {
  width: 50%;
  padding: 2rem;
}
.login-tab h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  margin-top: 3rem;
}
.login-form input {
  border-radius: 5px;
  border: none;
  border: 1px solid rgb(168, 168, 168);
  font-size: 16px;
  font-family: Montserrat;
  width: 100%;
  padding: 10px;
}
.login-form input:focus {
  outline: none;
  outline: 1px solid var(--main-color);
  border: 1px solid var(--main-color);
}

.remember-me {
  display: flex;
  align-items: center;
  width: 100%;
  user-select: none;
  gap: 5px;
}

.loginBtn {
  display: flex;
  justify-content: end;
  width: 100%;
}
.loginBtn button {
  padding: 7px 42px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  background: none;
  background-color: var(--dark-color);
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
.loginBtn button:hover {
  background-color: var(--main-color);
  border: 1px solid var(--dark-color);
}
.logoutBtn {
  display: flex;
  justify-content: start;
  width: 100%;
}
.logoutBtn button {
  padding: 7px 42px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  background: none;
  background-color: var(--dark-color);
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
.logoutBtn button:hover {
  background-color: var(--main-color);
  border: 1px solid var(--dark-color);
}
.hr {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, var(--dark-color));
}
.login-methods {
  width: 100%;
}
.login-method-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
}
.login-method-socials h3:hover {
  color: var(--main-color);
}
.registerBtn {
  width: 100%;
  display: flex;
}

/* cart tab */
.cart {
  position: relative;
}
.dropdown-cart {
  position: absolute;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  translate: 0 -10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  color: var(--dark-color);
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  padding: 3rem;
  right: 0;
  box-shadow: var(--shadow-elevation-medium);
  transition: 0.1s ease-in;
  min-width: 18.75rem;
}
.visible-cart {
  translate: 0;
  opacity: 1;
  visibility: visible;
}

/* Booking Tab */
.booking-tab {
  width: 50%;
  padding: 2rem;
  background-color: #fff;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  border-right: 1px dashed var(--main-color);
}
.booking-tab h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  margin-top: 3rem;
}
.booking-form input {
  border-radius: 5px;
  border: none;
  border: 1px solid rgb(168, 168, 168);
  font-size: 16px;
  font-family: Montserrat;
  width: 100%;
  padding: 10px;
}
.booking-form input:focus {
  outline: none;
  outline: 1px solid var(--main-color);
  border: 1px solid var(--main-color);
}
.reference {
  width: 100%;
}
.bookingBtn {
  display: flex;
  justify-content: end;
  width: 100%;
}
.bookingBtn button {
  padding: 7px 42px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  background: none;
  background-color: var(--dark-color);
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
.bookingBtn button:hover {
  background-color: var(--main-color);
  border: 1px solid var(--dark-color);
}

.loggedInUser {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}
.loggedInUser:hover {
  border-radius: 5px;
}
.errormessage {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.error-message-wrapper {
  width: 100%;
  padding: 20px 10px;
  background-color: #ed4337;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}
.spinner {
  width: 57px;
}
.logginginspinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 57px;
}
.password_input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.password_input:focus-within {
  outline: 1px solid var(--main-color);
}
.password_input input {
  padding: 0;
  border: none;
}
.password_input input:focus-within {
  outline: none;
  border: none;
}
.hideshow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsvgtwo {
  width: 20px;
  color: var(--main-color);
  cursor: pointer;
}
.checkboxcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbutton {
  background-color: gray;
  width: 25px;
  height: 15px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkbutton::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 11px;
  height: 11px;
  border-radius: 200px;
  margin: 2.3px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input:checked + .checkbutton {
  background-color: var(--main-color);
}
input:checked + .checkbutton::before {
  transform: translateX(10px);
}
#check {
  display: none;
}
.registerWrd {
  margin-left: 5px;
  cursor: pointer;
}
.registerWrd:hover {
  color: var(--main-color);
}
.loginForm_alternatives {
  width: 100%;
  max-width: 23.75rem;
}
.loginForm_socials {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

@media (width <= 766px) {
  .navbar {
    display: none;
  }
}

@media (width <= 1024px) {
  .dropdown-login {
    min-width: 780px;
  }
}
