.tour-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  min-height: 180px;
  width: 100%;
}
.tour-full-data h1 {
  font-size: 36px;
  font-weight: 300;
}
.tour-details {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}


.tour-tags {
  display: flex;
  align-items: center;
}
.tour-tags {
  display: flex;
  gap: 1rem;
}
.tour-tags small {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 8px;
  font-weight: 500;
}
.tour-title {
  display: flex;
  flex-direction: column;
}
.tour-title b {
  color: black;
  font-weight: 800;
}
.tour-title span {
  display: flex;
  color: rgba(0, 0, 0, 0.651);

  gap: 1rem;
}
.tour-title strong {
  font-size: clamp(2rem, 5vw, 2.5rem);
}
.tour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.tour-image_slider{
  user-select: none;
}

.tour-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.tour-price-text {
  font-size: clamp(2rem, 5vw, 2.5rem);
  color: var(--main-color);
  font-weight: 700;
}
.tour-desc-price-details-cancelation h2 {
  font-size: 2rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tour-price button {
  background-color: transparent;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: .5rem 1rem;
  font-family: Onest;
  transition: .2s ease;
  cursor: pointer;
  font-size: 16px;
}
.tour-price button:hover {
  background-color: var(--main-color);
  outline: 1px solid var(--dark-color);
  color: white;
}
.slider_wrapper {
  max-width: 1080px;
  width: 100%;
  aspect-ratio: 10/4;
  margin: 0 auto;
}

.tour-nav {
  position: sticky;
  top: 0;
  background-color: white;
  color: black;

  width: 100%;
  padding: 1rem 0;
  z-index: 1;
}
.tour-nav-wrapper ul {
  display: flex;
  font-weight: 500;
}
.tour-nav-wrapper ul li:after {
  font-weight: 200;
  content: '|';
  margin: 0 0.75rem;
  position: relative;
  left: 2px;
}
.padded {
  padding-top: 80px;
}
.tour-desc {
  text-wrap: balance;
}
.here {
  content: '';
  height: 51px;
  background-color: transparent;
}
.hrblack {
  margin-bottom: 1rem;
  content: '';
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, var(--dark-color), transparent);
}
.hrblacklast {
  margin-bottom: 1rem;
  content: '';
  width: 100%;
  padding: 0 2rem;
  height: 1px;
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    transparent,
    var(--dark-color)
  );
}
.singletour-data {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 2rem;
  gap: 1.5rem;
}

.tour-calendar-selector{
  background-color: rgb(233, 227, 227);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius:  8px;
  margin-bottom: 2rem;
  transition: .2s ease;
  cursor: pointer;
}
.tour-calendar-selector-span1{
  flex-grow: 1;
  flex-basis: 0;
}
.tour-calendar-selector-downcaret{
  display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
}
.tour-calendar-selector:hover{
  background-color: var(--main-color);
  color: white;
}
.tour-calendar-selector p{
  margin-bottom: 0;
}

.tour-desc-price-details-cancelation {
  width: 65%;
  height: 100%;
}
.tour-datepicker {
  width: 45%;
}
.tour-prices {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding-bottom: 1rem;
}
.hr {
  content: '';
  height: 1px;
  background-image: linear-gradient(to right, white, transparent);
}
.tour-price-wrapper-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-price-wrapper-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-main-detail {
  width: 30%;
  font-size: 1rem;
  text-wrap: balance;
}
.exact-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100px;
}
.exact-price span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.exact-price small {
  font-size: 12px;
  height: 30px;
}
.tour-more-info {
  text-wrap: balance;
  display: flex;
  flex-direction: column;
}
.more-info {
  margin-bottom: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 7.5px !important;
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 1rem;
  background-image: url(/dashmine.png);
  background-repeat: repeat-x;
}
.more-info span {
  white-space: nowrap;
}
.more-info ul {
  list-style: initial;
}
.more-info li {
  list-style: initial;
  list-style-type: unset;
}
.more-info strong {
  font-weight: 700;
}
.tour-cancellation {
  padding-bottom: 2rem;
}
.tour-meetingpoint {
  padding-bottom: 2rem;
}

/* Tour Reviews */
.review-username {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.review-name {
  display: flex;
  flex-direction: column;
}
.tour-review {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.tour-customerreview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tour-reviews-customers {
  margin-bottom: 10rem;
}
.tour-reviewnumbers {
  background-color: white;
  padding: 1rem 2rem;
  border-radius:  5px;
}
.tour-reviewnumbers h1 {
  font-weight: 800;
  color: var(--dark-color);
  display: flex;
}
.tour-singlereview {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}
.tourreview-header {
  display: flex;
  gap: 4rem;
}
.reviewrate {
  display: flex;
  flex-direction: column;
}
.usersreview p {
  text-wrap: balance;
}
.reviewuser {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.review-profile {
  background-color: var(--main-color);
  color: white;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Date picker */
.content-box {
  position: relative;
  z-index: 0;
  flex-grow: 1;
}
.stickybox {
  background-color: white;
  border-radius: 8px;
  max-width: 350px;
  flex-grow: 1;
  position: sticky;
  top: 100px;
  padding: 1rem;
  box-shadow: var(--perfect-shadow);
}
.bookbutton{
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  background-color: var(--dark-color);
  color: white;
  font-weight: 700;
  transition: .2s ease;
  cursor: pointer;
}
.bookbutton:hover{  
  background-color: var(--main-color);
  outline: 1px solid var(--dark-color);
}

.more-info strong {
  display: flex;
  align-items: center;
  gap: 5px;
}
.more-info ul li {
  margin-left: 1rem;
  font-weight: 400;
}
.more-title {
  display: flex;
}

.qa {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.qa span {
  display: flex;
  align-items: start;
  gap: 1rem;
}
.qa strong {
  display: flex;
  align-items: center;
}
.more-info span {
  text-wrap: balance;
}

.share-button button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.share-button span {
  display: flex;
  align-items: center;
}
/* form */

.tour-calendar{
  padding: 1rem;
}

.rdp{
  margin: 0 !important;
  padding-bottom: 2rem;
}

#daypicker .rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: var(--dark-color);
  font-weight: 600;
}
#daypicker button:hover {
  color: var(--main-color);
}
#daypicker .rdp-button[disabled] {
  cursor: not-allowed;
  text-decoration: line-through;
}
#daypicker button:hover .rdp-button[disabled] {
  background-color: none;
}
