#root {
  height: 100dvh;
}

.my_account {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.account {
  display: flex;
  align-items: stretch;
  flex: 1;
  justify-content: center;
  background-color: #f7f7f7;
  padding-top: 4rem;
}
.account__sidebar {
  background-color: #fffbfb;
  box-shadow: var(--perfect-shadow);
  max-width: 350px;
  padding: 3rem;
  flex: 1;
}
.account__sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.account__sidebar a {
  color: black;
}
.account__sidebar--user {
  display: flex;
  flex-direction: column;
  line-height: 0.9;
}
.account__sidebar--user span {
  font-size: 24px;
}
.account__sidebar--user strong {
  font-size: 32px;
  color: var(--main-color);
  margin-bottom: 1rem;
}
.account__sidebar--user a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
hr {
  opacity: 0.1;
}
.account__sidebar--user small {
  font-size: 12px;
}
.account__sidebar--user a:hover small {
  color: var(--main-color);
}
.account__sidebar--user a:hover .svgicon {
  color: var(--main-color);
}
.account__sidebar--items a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.account__sidebar--items:hover span {
  font-weight: 600;
}

.account__sidebar--items .svgiconticket {
  transform: rotate(30deg);
  width: 20px;
  color: black;
}

.svgiconitem {
  width: 20px;
  color: black;
}

.svgicon {
  width: 15px;
  color: gray;
}

.account__content {
  flex-grow: 1;
  padding: 3rem;
  max-width: 1080px;
  border-radius: 8px;
}

.accordeon_tab.myaccount_accordeon {
  box-shadow: var(--perfect-shadow);
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: white;
}
.account__content h2 {
  font-weight: 700;
}
.account__user--info {
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-shadow: var(--perfect-shadow);
  background-color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
}

.account__image--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}
.form__upload {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
input[type='file'] {
  opacity: 0;
  cursor: pointer;
}

.account_image {
  border: 2px solid var(--main-color);
  height: 90px;
  width: 90px;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.account_image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}
.mini_icon {
  position: absolute;
  bottom: 0;
  right: 5px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: white;
  outline: 1px solid var(--main-color);
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account__user--details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.account__user--details .name {
  display: flex;
  gap: 0.3rem;
}
.svgiconupload {
  width: 15px;
}
.iconsvgphoto {
  width: 60px;
  opacity: 0.2;
}
.btn__password {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  height: 0px;
  font-family: inherit;
  font-size: 16px;
  transition: 0.2s ease;
}
.btn__password:hover {
  color: var(--main-color);
  cursor: pointer;
}

.btn__save {
  font-family: inherit;
  padding: 1rem 2rem;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: none;
  background-color: var(--dark-color);
  color: white;
  font-weight: 700;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn__save:hover {
  outline: 1px solid var(--dark-color);
  background-color: transparent;
  color: var(--dark-color);
}

.dialog__content {
  display: grid;
  place-content: center;
  height: 100%;
}
.dialog__content-body {
  width: 600px;
  background-color: white;
  box-shadow: var(--perfect-shadow);
  border-radius: 8px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}
.dialog__header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.dialog__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dialog__title strong {
  font-size: 24px;
}
.button-dialog {
  position: absolute;
  right: 0;
  top: 0;
}
.cta__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 1rem;
}
.discard__changes {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
}
.toaster {
  border-radius: 8px;
}
.error-bg {
  background-color: crimson;
  color: white;
}
.success-bg {
  background-color: var(--main-color);
  color: white;
}
