@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.hero_content {
  background: linear-gradient(rgba(0, 0, 0, 0.276) 48%, #00000069),
    url(https://res.cloudinary.com/drtykwq1x/image/upload/q_100/v1717899583/Header-moonvalley_svkenl.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100%;
}

.hero_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.hero_header p {
  font-size: clamp(13px, 4vw, 18px);
}

.hero_title_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.hero_content h1 {
  line-height: 1;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  font-family: Onest, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.search_hero_wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_search {
  display: flex;
  justify-content: center;
  min-height: 48px;
  z-index: 1;
  outline: 2px solid rgb(255, 255, 255);
  width: 100%;
  position: absolute;
  border-radius: 8px;
}

.hero_search::before,
.hero_search::after {
  content: '';
  position: absolute;
  inset: -1px;
  z-index: -1;
  border-radius: 8px;
  background: conic-gradient(from var(--gradient-angle),
      var(--main-color),
      var(--secondary-color),
      #ffffff,
      var(--secondary-color),
      var(--main-color));
  animation: rotation 10s linear infinite;
  backdrop-filter: blur(5rem);
}

.hero_search::after {
  filter: blur(1.5rem);
}

.hero_search input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  background: none;
  padding: 10px 10px;
  color: var(--dark-color);
}

.hero_search input::placeholder {
  color: var(--dark-color);
}

.hero_search input:focus {
  outline: none;
  color: var(--dark-color);
}

.hero_search button {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--dark-color);
  border: 1px solid transparent;
  color: white;
  border-radius: 7px;
  width: 200px;
  transition: 0.2s ease;
  cursor: pointer;
}

.hero_search button:hover {
  background-color: transparent;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.hero_search_suggestions {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: var(--perfect-shadow);
  top: 40px;
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  width: 150%;
  margin: 0 auto;
  padding: 0 2rem;
  z-index: 1;
  padding-bottom: 1.5625rem;
  transform: translateY(-300px);
  scale: 0;
  z-index: 10;
  transition: 0.1s ease-in-out;
}

.hero_search_suggestions span:hover {
  color: var(--main-color);
}

.suggestions_visible {
  transform: translateY(0);
  scale: 1;
  opacity: 1;
  visibility: visible;
}

.hero_search_suggestions ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  overflow: hidden;
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
  color: var(--dark-color);
}

.hero_search_suggestions li {
  padding-bottom: 1.1875rem;
  width: 165px;
}

.hero_search_suggestion_title {
  width: 100%;
  display: flex;
  justify-content: start;
  color: var(--dark-color);
  padding: 30px 20px;
}

.hero_search_suggestion_title strong {
  font-size: 24px;
}

.hero_search_list {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.hero_search_city {
  font-weight: 900;
  font-size: 18px;
}

.showmore_button_suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.benefits_content {
  width: 100%;
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: clamp(13.375px, 2vw, 16px);
}

.heroicons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (width < 470px) {
  .hero_search_suggestions {
    width: 100%;
  }

  .hero_search_list {
    width: 70%;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }

  .benefits span {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 170px;
  }
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

@media (width <=500px) {
  .hero_search input {
    padding: 10px 5px;
  }

  .hero_search button {
    width: 130px;
    font-weight: 600;
  }
}

@media (width <=766px) {
  .search_hero_wrapper {
    width: 105%;
  }

  .heroicons {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

@media (width < 1200px) {
  .benefits {
    gap: 0.5rem;
    text-align: center;
  }
}