.navbg {
    background-color: black;
    height: 80px;
}

.newnavbar_content {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9999999999;
    translate: 0 -80px;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.activate {
    translate: 0;
}

.bg {
    background-color: white;
    box-shadow: var(--perfect-shadow);
}

.bg .nav_link {
    color: var(--main-color);
}

.bg .nav_link:hover {
    opacity: .6;
}

.bg .navlogo {
    fill: var(--main-color);
}

.bg .help_text {
    color: var(--main-color);
}

.bg .help:hover {
    border-color: var(--main-color);
}

.bg .navicon {
    color: var(--main-color);
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1080px;
}

.new_nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 486px;
    max-width: 100%;
    height: 80px;
    gap: 1rem;
}

.nav_link {
    color: white;
    text-align: center;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    font-weight: 600;
    transition: .2s ease-in-out;
}


.nav_link a:hover {
    color: var(--opaque-color);
}

.new_nav-links.colored_links a {
    color: var(--main-color);
}

.logo {
    flex-grow: 1;
    flex-basis: 0;
}



.dropdown_nav {
    position: absolute;
    top: 5rem;
    margin-left: -6rem;
    background-color: white;
    overflow: hidden;
    min-width: 200px;
    border-radius: 8px;
    box-shadow: var(--perfect-shadow);
    transition: all .2s ease-in-out;
    will-change: transform;
    z-index: 9999999999;

}



.opacity {
    opacity: 1;
    visibility: visible;
    transition: all .2s ease-in-out;
}

.opacity_cero {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.absolute {
    position: absolute;
    transition: all .2s ease-in-out;
}

.transitionAll {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .2s;
}

.transform_cero {
    transform: translateX(0rem);
}

.shift_right {
    transform: translateX(-20rem);
}

.shift_left {
    transform: translateX(20rem);
}

/* help */
.help {
    font-size: 17px;
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    cursor: pointer;
    border-radius: 8px;
    padding: .5rem 1.5rem;
    transition: .2s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
}

.help .navicon {
    position: absolute;
    translate: 65px 0;
    transition: .2s ease-in-out;

}

.help:hover {
    border: 1px solid rgba(255, 255, 255, 0.466);
}

.help:hover .navicon {
    position: absolute;
    translate: -5px 0;
}

.help span {
    opacity: 0;
    transform: translateX(20px);
    transition-property: display opacity;
    transition: ease-in-out;
    transition-duration: .2s;
    transition-behavior: allow-discrete;
    padding-left: 25px;
}

.help:hover span {
    opacity: 1;
    transform: translateX(0);

    @starting-style {
        transform: translateX(20px);
    }
}

.active {
    color: var(--opaque-color);
}

.bg .active {
    color: var(--opaque-color);
}

@media (width <=766px) {
    .new_nav-links {
        display: none;
    }
}